<div class="container">
  <div class="cocktails-contain">
    <% @cocktails.each do |c| %>
    <div class="cocktail-image-left">
      <div class="cocktail-image">
        <%= cl_image_tag c.photo.to_s, width: 500, height: 340, crop: :fill %>
      </div>
      <div class="cocktail-text">
        <h3 class="cocktail-headers"><%= c.name %></h3>
        <p class="cocktail-small-headings">INGREDIENTS</p>
        <% @ingredients.each do |i| %>
          <% if c.id == i.cocktail_id %>
        <table class="cocktail-recipe">
          <tr>
            <td><%= i.name %></td>
            <td><%= i.quantity %></td>
          </tr>
          <% end %>
        </table>
        <% end %>
        <%= link_to "TRY IT YOURSELF !", tutorials_path, class: "cocktail-try-button" %>
      </div>
    </div>
    <% end %>




<!--     <div class="cocktail-image-right">
      <div class="cocktail-text">

      </div>
      <div class="cocktail-image">

      </div>

    </div> -->
  </div>
</div>



